:root {
    --button-color: #186969;
}

html {
    box-sizing: border-box;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body of css */

.wrapper {
    display: flex;
}

.image {
    background-image: url('file:///home/david/GitHub/Sign-Up-Page/Resources/Images/Background.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 40%;
    flex-shrink: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.37);
    margin-top: 300px;
    padding: 10px;
}

.logo-text  {
    font-family: 'Montserrat', sans-serif;;
    font-size: 3rem;
    color: white;
    opacity: 100%;
    margin-right: 10px;
}

#spa {
    color: white;
    font-size: 2.5rem;
    margin-left: 5px;
}

/* sign up part */



.top-text {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 100px 40px 20px 40px;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    font-weight: bold;
}

.bottom-text {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 40px 40px;
}



button {
    padding: 10px 35px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #186969;
    border-radius: 8px;
    color: white;
    margin: 40px 0 0 40px;
    border: none;
}

.account {
    margin: 40px 0 0 40px;
}

a {
    text-decoration: none;
    color: #186969;
    font-weight: bold;
    
}

form {
    border: 2px rgba(191, 191, 191, 0.486) solid;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 40px;
}

.sign-up {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 0 20px 0;    
}

.account {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.name {
    display: flex;
}

input, label {
    display: flex;
    flex-direction: column;
    margin: 10px ;
}

.name:focus {
    border: blue;
}

input {
    padding: 10px;
}

input:invalid {
    border: red;
}







